.note {
    background-color: #fff;
    border-radius: 8px;
    padding: 1em;
    max-width: 15rem;
    box-shadow: 0 2px 5px #ccc;

    h2 {
        margin: 0;
        font-size: 2.25rem;
        margin-bottom: 8px;
        word-wrap: break-word;
    }

    p {
        font-size: 1.25rem;
        margin: 0;
    }

    button {
        display: block;
        background: none;
        border: none;
        color: #F5B21A;
        margin: 0.5rem 0 0 auto;
        padding: 0;
        user-select: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}