.note {
    background-color: #fff;
    border-radius: 8px;
    width: fit-content;
    padding: 1em;
    box-shadow: 0 2px 5px #ccc;

    h2 {
        margin: 0;
        margin-bottom: 8px;
    }

    p {
        margin: 0;
    }
}