header {
    background-color: #F5B21A;
    color: #FFFEEF;
    padding: 1rem 2rem;
    font-family: 'McLaren', cursive;
    
    h1 {
        font-size: 3rem;
        font-weight: 200;
        margin: 0;
    }
}